/************************************************************************/
/**
 * @file proof_demo1.C
 * @brief Simple test of gLitePROOF #1
 * @author Anar Manafov A.Manafov@gsi.de
 *//*

        version number:    $LastChangedRevision$
        created by:        Anar Manafov
                           2007-05-22
        last changed by:   $LastChangedBy$ $LastChangedDate$

        Copyright (c) 2007 GSI GridTeam. All rights reserved.
*************************************************************************/


{
  // Creating a TDset of files to analyze
  TDSet *set = new TDSet( "TTree","h42" );
  
  // Files to analyze 
  set->Add( "root://MASTER_HOSTNAME:000/_G_XRD_EXPORT_DIR/dstarmb.root" );
  set->Add( "root://MASTER_HOSTNAME:000/_G_XRD_EXPORT_DIR/dstarmb1.root" );
  
  // connecting to local PROOF server
  proof = TProof::Open( "MASTER_HOSTNAME:0000" );

  proof->SetParameter( "PROOF_MaxSlavesPerNode", (Long_t)1000 );  

  // Processing our test analysis
  set->Process( "test/myselector.C" );
}
